<meta charset="utf-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style type="text/css">
	body{
		padding: 0px;
		margin: 0px;
	}
	.e-modal
	{
		width: 100%;
		margin:0px;
		padding: 0px;
		position: absolute;
		background: #8080807d;
		height: 100%;
	}
	.e-modal-content
	{
		width: 35%;
		margin-top: 70px; 
	}
	.e-modal-body
	{
		background: white;
		border: 1px solid lightgray;
		border-radius: 10px;
		height: auto;
		padding: 30px 50px;
	}
	.input-item
	{
		padding: 10px;
		width: 100%;
	}
	input[type="text"], input[type="email"]
	{
		width: 100%;
		padding: 9px;
		border: 1px solid gray;
	}
	input[type="checkbox"]
	{
		border-radius: 0px;
		width: 20px;
		height: 20px;
		background: none;
	}
	.e-btn
	{
		width: 100%;
		border-radius: 0px;
		background: #e1454e;
	    color: white;
	    border-color: #e1454e;
	}
</style>
<div class="e-modal" align="center">
	<div class="e-modal-content">
		<div class="e-modal-body">
			<div style="width: 100%; margin-bottom: 10px;" align="left">
				<img src="images/2.png">
			</div>
			<div class="form">
				<div class="input-item">
					<input type="text" name="" placeholder="Adınız">
				</div>
				<div class="input-item">
					<input type="text" name="" placeholder="Soyadınız">
				</div>
				<div class="input-item">
					<input type="text" name="" placeholder="Fin kod">
				</div>
				<div class="input-item">
					<input type="email" name="" placeholder="Elektron poçt ünvan">
				</div>
				<div align="left" style="padding: 0px 10px">
					<input type="checkbox" name="" style="float: left;">
					<span style="position: relative;font-size: 14px; top: 3px; left: 6px; color: #e1454e;">Məni xatırla</span>
				</div>
				<div class="input-item" style="margin-top: 10px;">
					<a class="btn btn-default e-btn"> Hesab yarat</a>
				</div>
			</div>
		</div>
	</div>
</div>